<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Chat Motirõ</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <!-- <ion-button fill="clear" (click)="signOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">




  <!-- <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col
        size="9"
        class="message"
        [offset]="message.myMsg ? 3 : 0"
        [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }"
      >
        <b>{{ message.fromName }}</b><br />
        <span>{{ message.msg }} </span>
        <div class="time ion-text-right"><br />{{ message.createdAt?.toMillis() | date:'dd/MM/yyyy HH:mm:ss' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>

<ion-footer>
  <!-- <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea
          autoGrow="true"
          class="message-input"
          rows="1"
          maxLength="500"
          [(ngModel)]="newMsg"
          (keyup.enter)="sendMessage()"
        >
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button
          expand="block"
          fill="clear"
          color="primary"
          [disabled]="newMsg === ''"
          class="msg-btn"
          (click)="sendMessage()"
        >
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar> -->
</ion-footer>






<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Chat-Motirõ</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <h1>Chat Motirõ Bot</h1>

  <ion-card *ngfor="let message of messages | async">
    <div class="message" [ngClass]="{'from': message.sentBy === 'bot' , 'to': message.sentBy === 'user'}">
      {{message.content}}
    </div>
  </ion-card>

  <label for="nameField">Escreva a mensagem</label>
  <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" />
  <ion-button (click)="sendMessage()" expand="block" fill="clear" shape="round">
    <ion-icon slot="start" name="send"></ion-icon>
  </ion-button> 
</ion-content> -->
