ion-toolbar {
  --background: rgb(0, 0, 0) url("../../../assets/img/FUNDO_BOLINHAS.png") no-repeat center center / cover !important;
}

ion-content {
  margin: 5px;
  text-align: justify;
}
strong {
  font-size: 18px;
  line-height: 1.5;
}
p {
  padding: 0 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
