<ion-header>
  <ion-toolbar>
    <ion-title>Como Ajudar</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-align-item-justify" id="textContainer" ion-padding>
    <p style="text-align: left">
      <strong>1. Ou&ccedil;a mais, fale menos</strong><br />
      Encontre um momento apropriado e um lugar calmo para falar sobre suic&iacute;dio com essa pessoa. Deixe-a saber
      que voc&ecirc; est&aacute; l&aacute; para ouvir, ou&ccedil;a-a com a mente aberta e ofere&ccedil;a seu apoio.
    </p>
    <p style="text-align: left">
      <strong>2. Incentive uma consulta profissional</strong><br />
      Incentive a pessoa a procurar ajuda de um profissional, como um m&eacute;dico, profissional de sa&uacute;de
      mental, conselheiro ou assistente social. Ofere&ccedil;a-se para acompanh&aacute;-la a uma consulta.
    </p>
    <p style="text-align: left">
      <strong>3. Fique perto</strong><br />
      Se voc&ecirc; acha que essa pessoa est&aacute; em perigo imediato, n&atilde;o a deixe sozinha. Procure ajuda de
      profissionais de servi&ccedil;os de emerg&ecirc;ncia, um servi&ccedil;o telef&ocirc;nico de atendimentos a crises,
      um profissional de sa&uacute;de, ou consulte algum familiar dessa pessoa.
    </p>
    <p style="text-align: left">
      <strong>4. Previna</strong><br />
      Se a pessoa que com quem voc&ecirc; est&aacute; preocupado (a) vive com voc&ecirc;, assegure-se de que ele (a)
      n&atilde;o tenha acesso a meios para provocar a pr&oacute;pria morte (por exemplo, pesticidas, armas de fogo ou
      medicamentos) em casa.
    </p>
    <p style="text-align: left">
      <strong>5. Mantenha contato</strong><br />
      Fique em contato para acompanhar como a pessoa est&aacute; passando e o que est&aacute; fazendo.
    </p>
    <p style="text-align: left">
      Saber o que<strong> N&Atilde;O DIZER</strong> tamb&eacute;m &eacute; muito importante para n&atilde;o piorar a
      situa&ccedil;&atilde;o. Fique atento para n&atilde;o repetir os conselhos abaixo, pois eles s&oacute; prejudicam
      quem j&aacute; est&aacute; fragilizado:
    </p>
    <p style="text-align: left">
      <strong>6. N&atilde;o condene</strong><br />
      &ldquo;Isso &eacute; covardia &rdquo;.<br />
      &ldquo;&Eacute; loucura&rdquo;.<br />
      &ldquo;&Eacute; fraqueza&rdquo;.
    </p>
    <p style="text-align: left">
      <strong>7. N&atilde;o banalize</strong><br />
      &ldquo;&Eacute; por isso que quer morrer? J&aacute; passei por coisas bem piores e n&atilde;o me matei&rdquo;.
    </p>
    <p style="text-align: left">
      <strong>8. N&atilde;o opine</strong><br />
      &ldquo;Voc&ecirc; quer chamar a aten&ccedil;&atilde;o&rdquo;.<br />
      &ldquo;Te falta Deus&rdquo;.<br />
      &ldquo;Isso &eacute; falta de vergonha na cara&rdquo;.
    </p>
    <p style="text-align: left">
      <strong>9. N&atilde;o d&ecirc; serm&atilde;o</strong><br />
      &ldquo;Tantas pessoas com problemas mais s&eacute;rios que o seu, siga em frente&rdquo;.
    </p>
    <p style="text-align: left">
      <strong>10. Evite frases de incentivo</strong><br />
      &ldquo;Levanta a cabe&ccedil;a, deixa disso&rdquo;.<br />
      &ldquo;Pense positivo&rdquo;.<br />
      &ldquo;A vida &eacute; boa&rdquo;.
    </p>
    <h1 style="text-align: left">Onde buscar ajuda?</h1>
    <p style="text-align: left">
      <strong>Servi&ccedil;os de sa&uacute;de</strong><br />
      CAPS e Unidades B&aacute;sicas de Sa&uacute;de (Sa&uacute;de da fam&iacute;lia, Postos e Centros de Sa&uacute;de).
    </p>
    <p style="text-align: left">
      <strong>Disque 188</strong><br />
      Por meio do telefone 188, o CVV (Centro de Valoriza&ccedil;&atilde;o da Vida) oferece apoio emocional a pessoas
      que querem e precisam conversar, sob sigilo absoluto. As liga&ccedil;&otilde;es s&atilde;o gratuitas em todo o
      Brasil e podem ser feitas em qualquer hor&aacute;rio, todos os dias.
    </p>
    <p style="text-align: left">
      <strong>Emerg&ecirc;ncia</strong><br />
      SAMU 192, UPA, Pronto Socorro e Hospitais.
    </p>
    <h1 style="text-align: left">Setembro Amarelo</h1>
    <p style="text-align: left">
      O Setembro Amarelo &eacute; uma campanha de conscientiza&ccedil;&atilde;o idealizada pelo CVV sobre a
      preven&ccedil;&atilde;o do suic&iacute;dio. Durante todo o m&ecirc;s, diversos espa&ccedil;os p&uacute;blicos e
      privados s&atilde;o decorados com a cor amarela para chamar aten&ccedil;&atilde;o das pessoas para a
      import&acirc;ncia da sa&uacute;de mental em todo o pa&iacute;s.<br />
      Para saber mais sobre a campanha, acesse
      <a href="http://www.setembroamarelo.org.br/" rel="noopener" target="_blank">www.setembroamarelo.org.br/</a>.
    </p>

    <p style="text-align: left">
      O Minist&eacute;rio da Sa&uacute;de preparou uma
      <a
        href="http://portalarquivos2.saude.gov.br/images/pdf/2017/setembro/21/folheto-popula----o.pdf"
        rel="noopener"
        target="_blank"
        >cartilha</a
      >
    </p>
  </div>
</ion-content>
