.texto{
    font-family:arial,helvetica,sans-serif;
    font-size: 16px;
    padding: 15px;
}

img{
    align-items: center;
    justify-content: center;
}

ion-icon{
    color: rgb(241, 192, 87);
    width: 30px;
    height: 30px;
}

ion-menu-button{
    color: rgb(241, 192, 87);
}

iframe{
    border: none;
    padding: 2px;
    height: 100vmin;
    width: 100vmin;
}

ion-menu-button {
    color: rgb(241, 192, 87);
    border-radius: 8px;
   
   }


   
   ion-toolbar {
     --background: url("../../../assets/img/FUNDO_BOLINHAS.png") no-repeat center center / cover !important; 
   
   }
   
   ion-content {

     width: inherit;
     height: inherit;
     display: flex;
     --background: url("../../../assets/img/FUNDO_BOLINHAS.png") no-repeat center center / cover !important; 
   }
