<ion-header>
  <ion-toolbar>
    <ion-title>Preciso de Ajuda</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
      <ion-icon name="close" slot="end" [routerLink]="['/home']" routerLinkActive="router-link-active"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div class="texto">
  <h3 style="text-align: justify;">
    <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>A IMPORT&Acirc;NCIA DE PEDIR AJUDA!</strong></span></span></h3>
  <p style="text-align: justify;">
    <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Quando a situa&ccedil;&atilde;o aperta em qualquer &aacute;rea da vida e come&ccedil;a a se sentir sobrecarregado com tudo o que tem para fazer, costuma&nbsp;pedir ajuda&nbsp;para outras pessoas? Saiba que essa atitude, al&eacute;m de ajudar a aliviar o fardo que est&aacute; carregando, demonstra humildade&nbsp;e &eacute; essencial para fortalecer as rela&ccedil;&otilde;es sociais. Pedir e permitir que algu&eacute;m te ajude n&atilde;o &eacute; sinal de fraqueza, nem mesmo de inferioridade, trata-se apenas de uma declara&ccedil;&atilde;o de que voc&ecirc; &eacute; humano e que precisa ser acolhido tamb&eacute;m. Al&eacute;m disso, a compaix&atilde;o &eacute; algo t&atilde;o bonito, aprenda a apreci&aacute;-la e n&atilde;o se envergonhe de pedir ajuda.</span></span></p>
  <p style="text-align: justify;">
    <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Pedir ajuda &eacute; completamente diferente de ser fraco, inferior, dependente, aproveitador. Trata-se de uma medida de autocuidado e que auxilia na preven&ccedil;&atilde;o de diversos problemas de sa&uacute;de, tanto de ordem f&iacute;sica quanto emocional. Al&eacute;m do mais, ajudar e ser ajudado, seja na vida pessoal ou profissional, &eacute; essencial para ter relacionamentos mais positivos. Doar, receber, compartilhar, tudo isso &eacute; maravilhoso! &Eacute; essa troca que faz com que as rela&ccedil;&otilde;es valham a pena. Lembre-se sempre: voc&ecirc; n&atilde;o &eacute; aquilo que te aconteceu.</span></span></p>
  <p style="text-align: justify;">
    <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">O aplicativo est&aacute; aqui para te ajudar! E se voc&ecirc; perceber que essa fase dif&iacute;cil est&aacute; demorando a passar, n&atilde;o tenha medo de procurar ajuda profissional de psic&oacute;logos (as) e psiquiatras. Esses profissionais estudaram para fazer uma escuta sem julgamento e v&atilde;o te ajudar em qualquer que seja o seu problema!</span></span></p>
  <p style="text-align: justify;">
    <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Muitos lugares oferecem atendimentos psicol&oacute;gicos gratuito ou por valor popular: postos de sa&uacute;de, CAPS (Centro de Aten&ccedil;&atilde;o Psicossocial), CRAS (Centro de Refer&ecirc;ncia de Assist&ecirc;ncia Social), Servi&ccedil;o de Psicologia Aplicada (SPA) das universidades p&uacute;blicas e particulares, entre outros.</span></span></p>
  <p style="text-align: justify;">
    <span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Clique no link abaixo e encontre um Servi&ccedil;o de Sa&uacute;de Mental pr&oacute;ximo de sua casa.</span></span></p>
  </div>
<!--   <a href="https://www.google.com/maps/d/u/0/viewer?mid=147YqFIKG6PUhFw606aazeZbcZCEzK2Oh&ll=-13.913780737076829%2C-61.54771807494362&z=5" >
    Saúde Mental
  </a> -->

  <div class="ion-align-items-center">
    <iframe src="https://www.google.com/maps/d/embed?mid=147YqFIKG6PUhFw606aazeZbcZCEzK2Oh" width="300" height="400"></iframe>


  </div>
    


</ion-content>
