<ion-app>
  <ion-menu contentId="main" menuId="main-menu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/cvv">
            <!-- <ion-icon slot="start" name="chatbubbles"></ion-icon> -->
            <img src="../assets/icon/CVV.svg" alt="" style="width: 25px; margin: 0 10px" />
            <ion-label>Chat CVV</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/chat-motiro">
            <ion-icon slot="start" name="paper-plane"></ion-icon>
            <ion-label>Chat Motirõ</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/diario-gratidao">
            <ion-icon slot="start" name="document-text"></ion-icon>
            <ion-label>Diário de Gratidão</ion-label>
          </ion-item></ion-menu-toggle
        >
        <ion-menu-toggle
          ><ion-item routerLink="/sobre-suicidio">
            <ion-icon slot="start" name="clipboard"></ion-icon>
            <ion-label>Sobre Suicidio</ion-label>
          </ion-item></ion-menu-toggle
        >
        <ion-menu-toggle
          ><ion-item routerLink="/como-ajudar">
            <ion-icon slot="start" name="information-circle"></ion-icon>
            <ion-label>Como Ajudar</ion-label>
          </ion-item></ion-menu-toggle
        >
        <ion-menu-toggle
          ><ion-item routerLink="/seja-voluntario">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>Seja Voluntário</ion-label>
          </ion-item></ion-menu-toggle
        >
        <ion-menu-toggle
          ><ion-item routerLink="/sobre-aplicativo">
            <ion-icon slot="start" name="alert-circle"></ion-icon>
            <ion-label>Sobre Aplicativo</ion-label>
          </ion-item></ion-menu-toggle
        >
        <ion-menu-toggle
          ><ion-item routerLink="/configuracoes">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label>Configuração</ion-label>
          </ion-item></ion-menu-toggle
        >
        <ion-menu-toggle
          ><ion-item routerLink="/chat-dialog">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label>Chat</ion-label>
          </ion-item></ion-menu-toggle
        >
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
