<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="close" slot="end" [routerLink]="['/home']" routerLinkActive="router-link-active" class="ion-padding"></ion-icon>
  </ion-toolbar>

</ion-header>



<ion-content class="ion-align-items-center">
  <div class="containerOne">
    <img src="../../assets/img/LOGO-amigo2.png" alt="" />
  </div>
  <h4 class="ion-text-center"><strong>Você não está sozinho!</strong></h4>
  <p class="ion-text-center"><strong> Converse com alguém!</strong></p>

  <ion-button expand="block" fill="clear" href="https://jivo.chat/EmjND14uea"><strong>Entrar</strong> </ion-button>
</ion-content>
