<ion-header>
  <ion-toolbar>
    <ion-title>Diário de Gratidão</ion-title>
    <ion-buttons>
      <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
      <ion-button slot="start" [routerLink]="['/home']" routerLinkActive="router-link-active" >
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-button slot="end" (click)="abrirModalPerfil()"> <ion-icon name="add-circle-outline" class="ion-padding"></ion-icon> </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content> 

<!-- 
  <a href="https://wh.jivosite.com/IF6YK0nYgC56npYB/7lh5HNzbja">
    <ion-button expand="block" fill="clear" shape="round">
      Click me
    </ion-button>
    </a> -->



  <ion-list>
    <ion-item *ngFor="let PerfilPront of perfilUser; let id = index">
        <ion-avatar slot="start">
        <img src="http://lorempixel.com/150/100/food/" />
      </ion-avatar> 
      <ion-label>
        <h2>{{PerfilPront.nome}}</h2>
        <ion-text color="medium">
          <h3>{{PerfilPront.dataentrega}}</h3>
        </ion-text>
        <p>{{PerfilPront.tiposituacao}}</p>
        <h5>{{PerfilPront.observacoes}}</h5>
      </ion-label>

      <ion-button slot="end" color="secondary" (click)="editarPerfilUser(id)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" color="danger" (click)="actionSheetDelete(id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list >


<!--   
  <ion-content>
    <div class="ion-padding">
  
      <ion-button (click)="addNewEvent()">Add New Event</ion-button>
  
      <calendar [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onRangeChanged)="reloadSource(startTime, endTime)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30">
      
  </calendar>
  
    </div>
  </ion-content>
 -->


  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        {{ viewTitle }}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="today()">Hoje</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
   
    <!-- Card for adding a new event -->
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>Novo Evento</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="!collapseCard">
   
        <ion-item>
          <ion-input type="text" placeholder="Titlo" [(ngModel)]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Descrição" [(ngModel)]="event.desc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Inicio</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate" okText="Salvar" cancelText="Cancel"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Fim</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate" okText="Salvar" cancelText="Cancel"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>O dia Todo?</ion-label>
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item>
        <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Add Evento</ion-button>
   
      </ion-card-content>
    </ion-card>
   
    <ion-row>
      <!-- Change the displayed calendar mode -->
      <ion-col size="4">
        <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Mês</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Semana</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Dia</ion-button>
      </ion-col>
   
      <!-- Move back one screen of the slides -->
      <ion-col size="6" text-left>
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
   
      <!-- Move forward one screen of the slides -->
      <ion-col size="6" text-right>
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
   
    <calendar 
    [eventSource]="eventSource" 
    [calendarMode]="calendar.mode" 
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" 
    startHour="6"
    endHour="20"
    step="30"
    startingDayWeek="1">
    </calendar>
   
  </ion-content>
