<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="containerOne">
    <img src="../../assets/img/LOGO-amigo2.png" alt="" />
  </div>
  <p class="ion-text-center"><strong> Precisa conversar com alguém!</strong></p>

<!--   <div class="ion-text-center">
    <a
      href="http://cvvweb.mysuite1.com.br/client/chatan.php?h=&inf=&lfa=http://cvvweb.mysuite1.com.br/client/chatan.php?h=&inf=&lfa="
    >
      <img class="cvv" src="../../assets/icon/CVV.svg" alt="cvv" />
    </a>
  </div> -->

  <div class="ion-text-center" >
    <a routerLink="../preload-chat">
      <img style="width: 150px; height: 150px;" class="motiro" src="../../assets/imagens/CONVERSE_COM_ALGUEM.svg" alt="motiro" />
    </a>
  </div>

  <div class="ion-text-center" id="container3">
    <a href="193">
      <img style="width: 90px; height: 100px;" class="bombeiro" src="../../assets/imagens/LIGUE_193.svg" alt=""  type="tel"/>
    </a>
    <a routerLink="../contato-emergencia">
      <img style="width: 90px; height: 100px;" class="contatoEmergencial" src="../../assets/imagens/CONTATO_DE_EMERGENCIA.svg" alt="" />
    </a>

    <a href="190">
      <img style="width: 90px; height: 100px;"  class="policia" src="../../assets/imagens/LIGUE_190.svg" alt="" />
    </a>
  </div>

  <div class="ion-text-center" id="container3">
    <a>
      <img style="width: 100px; height: 100px;" class="respire" src="../../assets/imagens/RESPIRE.svg" alt="" />
    </a>
    <a href="https://www.google.com/maps/d/u/0/viewer?mid=147YqFIKG6PUhFw606aazeZbcZCEzK2Oh&ll=-13.913780737076829%2C-61.54771807494362&z=5" >
      <img style="width: 100px; height: 100px;" class="servicoSaude" src="../../assets/imagens/SERVI195135O_DE_SA195154DE_MENTAL.svg" alt="" />
    </a>

    <a href="https://www.youtube.com/playlist?list=PLJwrW0MOGQUc7gvlNb6WITrHJKX_4jOLx">
      <img style="width: 100px; height: 100px;" class="paporeto" src="../../assets/imagens/PAPO_RETO.svg" alt="" />
    </a>
  </div>
  <ion-button expand="block">Saiba Mais</ion-button>
</ion-content>
