<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o Aplicativo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="close" slot="end" [routerLink]="['/home']" routerLinkActive="router-link-active"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-justify">
 
  <div class="texto">
    <p style="text-align: justify;"><strong>Vers&atilde;o: v.0.0.1</strong></p>
    <p style="text-align: justify;">Amigo &eacute; um aplicativo que funciona como uma ferramenta para auxiliar adolescentes em depress&atilde;o e prevenir o suic&iacute;dio.&nbsp; Al&eacute;m de informar sobre o tema e desmistifica-lo, eliminando qualquer tipo de tabu ou preconceito.</p>
    <p style="text-align: justify;">O aplicativo jamais poder&aacute; substitui uma ajuda m&eacute;dica ou de um psic&oacute;logo, &eacute; importante buscar ajuda de profissionais.</p>
    <p style="text-align: justify;">Todas as informa&ccedil;&otilde;es contidas dentro deste aplicativo tiveram supervis&atilde;o da psic&oacute;loga Roberta Castelo Branco (CRP 01/19713)</p>
    <p style="text-align: justify;"><strong>Pol&iacute;tica de Privacidade</strong></p>
    <p style="text-align: justify;">N&atilde;o comercializamos, armazenamos ou compartilhamos informa&ccedil;&otilde;es pessoais fornecidas pelos usu&aacute;rios. Atendimento gratuito via chat, gratuito sob total sigilo.</p>
    <p style="text-align: justify;">As informa&ccedil;&otilde;es pessoais poder&atilde;o ser divulgadas quando por for&ccedil;a de determina&ccedil;&atilde;o judicial ou de regulamenta&ccedil;&atilde;o governamental. O aplicativo Amigo n&atilde;o envia nenhum e-mail solicitando informa&ccedil;&otilde;es sem que o usu&aacute;rio entre em contato com os desenvolvedores.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>Licen&ccedil;a de uso:</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>Equipe t&eacute;cnica:</strong></p>
    <p style="text-align: justify;">- Idealizador: Anderson Silva</p>
    <p style="text-align: justify;">- Coordenador: Fl&aacute;vio Almeida</p>
    <p style="text-align: justify;">- Arte: <a href="https://www.instagram.com/lucianoilustrador/?hl=pt-br">@lucianoilustrador</a></p>
    <p style="text-align: justify;">- Designer: Everton Silva</p>
    <p style="text-align: justify;">- Psic&oacute;loga: Roberta Castelo Branco - CRP 01/19713</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>Desenvolvido por:</strong></p>
    <p style="text-align: justify;">Jo&atilde;o J&uacute;nior, desenvolvedor WEB e Mobile</p>
    <p style="text-align: justify;"><a href="https://www.instagram.com/joao.juniorprog/?hl=pt-br">@joao.juniordev</a></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>Ajude o App</strong></p>
    <p style="text-align: justify;">Ajude a manter esse projeto e salvar vidas, n&oacute;s temos um custo anual para manter o aplicativo na plataforma Ios de $ 99 dolares, bem como o dominio e hospedagem para manter o chat ativo com a plataforma.</p>
  
    <p style="text-align: justify;">Em breve vamos manter um uma p&aacute;gina atualizada dos valores doados para que todos tenham total transpar&ecirc;ncia para onde est&aacute; indo sua doa&ccedil;&atilde;o, desde j&aacute; quero agradecer a voc&ecirc; por fazer parte deste projeto!</p> </div>

</ion-content>
