ion-title{
    font-weight: 700;
}
.texto{
    font-family:arial,helvetica,sans-serif;
    padding: 16px;
  
}

ion-icon{
    color: rgb(241, 192, 87);
    width: 20px;
    height: 20px;
}

ion-menu-button{
    color: rgb(241, 192, 87);
}