<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o Aplicativo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="close" slot="end" [routerLink]="['/home']" routerLinkActive="router-link-active"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-justify">
 
  <div class="texto">
  <p>
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Vers&atilde;o: v.0.0.1</span></span></p>
  <p style="text-align: justify;">
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Amigo &eacute; um aplicativo que funciona como uma ferramenta para auxiliar adolescentes em depress&atilde;o e prevenir o suic&iacute;dio.&nbsp; Al&eacute;m de informar sobre o tema e desmistifica-lo, eliminando qualquer tipo de tabu ou preconceito.</span></span></p>
  <p style="text-align: justify;">
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">O aplicativo jamais poder&aacute; substitui uma ajuda m&eacute;dica ou de um psic&oacute;logo, &eacute; importante buscar ajuda de profissionais.</span></span></p>
  <p style="text-align: justify;">
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Todas as informa&ccedil;&otilde;es contidas dentro deste aplicativo tiveram supervis&atilde;o da psic&oacute;loga Roberta Castelo Branco (CRP 01/19713)</span></span></p>
  <p>
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Pol&iacute;tica de Privacidade</strong></span></span></p>
  <p style="text-align: justify;">
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">N&atilde;o comercializamos, armazenamos ou compartilhamos informa&ccedil;&otilde;es pessoais fornecidas pelos usu&aacute;rios. Atendimento gratuito via chat, gratuito sob total sigilo.</span></span></p>
  <p style="text-align: justify;">
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">As informa&ccedil;&otilde;es pessoais poder&atilde;o ser divulgadas quando por for&ccedil;a de determina&ccedil;&atilde;o judicial ou de regulamenta&ccedil;&atilde;o governamental. O aplicativo Amigo n&atilde;o envia nenhum e-mail solicitando informa&ccedil;&otilde;es sem que o usu&aacute;rio entre em contato com os desenvolvedores.</span></span></p>
  <p>
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Licen&ccedil;a de uso</strong></span></span></p>
  <p>
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Equipe t&eacute;cnica:</strong></span></span></p>
  <ul>
    <li>
      <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Idealizador: <a href="https://www.instagram.com/andersonsilva_org/?hl=pt-br" target="_blank">@andersonsilva_org</a></span></span></li>
    <li>
      <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Coordenadores: <a href="https://www.instagram.com/flavioalmeidaf3/?hl=pt-br" target="_blank">@flavioalmeidaf3</a>&nbsp;<br />
      <a href="https://www.instagram.com/izabellademoura/?hl=pt-br" target="_blank">@izabellademoura</a></span></span></li>
    <li>
      <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Arte: <a href="https://www.instagram.com/lucianoilustrador/?hl=pt-br" target="_blank">@lucianoilustrador</a></span></span></li>
    <li>
      <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Designer:<a href="https://www.instagram.com/evertosilva/?hl=pt-br" target="_blank"> @evertosilva</a></span></span></li>
    <li>
      <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Psic&oacute;loga: <a href="https://www.instagram.com/robertacastelobranco9/?hl=pt-br" target="_blank">@robertacastelobranco9</a></span></span></li>
  </ul>
  <p>
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Desenvolvido por:</strong></span></span></p>
  <p>
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Jo&atilde;o J&uacute;nior, desenvolvedor FullStack</span></span></p>
  <p>
    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><a href="https://www.instagram.com/joao.juniordev/?hl=pt-br" target="_blank">@joao.juniorprog</a></span></span></p>
 
  </div>
  
</ion-content>
