<ion-header>
  <ion-toolbar>
    <ion-title>Sobre Aplicativo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>
    Seja um mantenedor Seja um mantenedor » Conta para dízimos e ofertas Igreja Vivo por Ti Banco Itaú AG. 0479 Conta
    <br />
    Corrente: 22125-1 CPNJ: 20.118.161/0001-91 » Conta para ofertas com fins missionários Missões locais, sustento de
    <br />
    missionários, missões nacionais e transculturais Igreja Vivo por Ti Banco Itaú AG. 0479 Conta Poupança: 21828-1/500
    <br />
    CPNJ: 20.118.161/0001-91 » Conta para ofertas de honra pastoral Keila Andrade Teixeira da Silva Banco do Brasil
    Ag.<br />
    0826-5 CC. 46.987-4 Anderson José da Silva Teixeira Banco Itaú AG. 0479 CC. 22112-9 CPF: 007.814.994-02
  </h5>
  <h3>- Sobre o Aplicativo, informações, dados, licenças de uso, equipes e como ajudar o projeto.</h3>
</ion-content>
