<ion-header>
  <ion-toolbar>
    <ion-title>Doações</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="close" slot="end" [routerLink]="['/home']" routerLinkActive="router-link-active"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
<div class="pix">
  <img src="../../../assets/imagens/DOA195135195149ES.svg" alt="doação">
  <h2><strong>Faça sua doação</strong>  <br>
     por meio do </h2>
  <h4>PIX</h4>
  <h5><strong>chave: </strong> xxxxxxxx</h5>

  <p>ajude o nosso projeto ir mais longe, <br> para alcanças e salvar vidas!</p>

  
  
</div>
</ion-content>
