.pix{
    font-family:arial,helvetica,sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
}

ion-icon{
    width: 30px;
    height: 30px;
    color: rgb(241, 192, 87);
}


ion-menu-button{
    color: rgb(241, 192, 87);
}
