<ion-header>
  <ion-toolbar>
    <ion-title>CVV</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="container-text">
    <h2>Para conversar com o Centro de Valorização da Vida - CVV</h2>
    <p>clique na imagem abaixo:</p>
    <p>
      ou disque 188
      <ion-icon name="call-outline"></ion-icon>
    </p>
    <a
      href="http://cvvweb.mysuite1.com.br/client/chatan.php?h=&inf=&lfa=http://cvvweb.mysuite1.com.br/client/chatan.php?h=&inf=&lfa="
    >
      <img src="../../../assets/img/cvv-page.png" alt="" />
    </a>
  </div>
  <ion-button expand="block" routerLink="/">Voltar para inicio</ion-button>
</ion-content>
